<!DOCTYPE html>
<html lang="en">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=no"/>
  <title>Scuti - Help people help you</title>

  <!-- CSS  -->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link href="css/materialize.css" type="text/css" rel="stylesheet" media="screen,projection"/>
  <link href="css/style.css" type="text/css" rel="stylesheet" media="screen,projection"/>

      <script src='bower_components/angular/angular.min.js' type='text/javascript'></script>
   
   


</head>
<body ng-app='calaca' ng-controller='calacaCtrl'>
  <nav class="white" role="navigation">
    <div class="nav-wrapper container">
      <a id="logo-container" href="#" class="brand-logo">Logo</a>
      <ul class="right hide-on-med-and-down">
        <li><a href="#">Invest</a></li>
        <li><a href="#">Borrow</a></li>
        <li><a href="#">Contact</a></li>
      </ul>

      <ul id="nav-mobile" class="side-nav">
        <li><a href="#">Invest</a></li>
        <li><a href="#">Borrow</a></li>
        <li><a href="#">Contact</a></li>
      </ul>
      <a href="#" data-activates="nav-mobile" class="button-collapse"><i class="material-icons">menu</i></a>
    </div>
  </nav>

  <div id="index-banner" class="parallax-container">
    <div class="section no-pad-bot">
      <div class="container">
        <br><br>
        <h1 class="header center teal-text text-lighten-2">Scuti</h1>
        <div class="row center">
          <h5 class="header col s12 light">We understand that charity only gets you that far.<br>
And healthy debts gets you beyond.</h5>
        </div>
        <div class="row center">
          <a href="#" id="download-button" class="btn-large waves-effect waves-light teal lighten-1">Get Started</a>
        </div>
        <br><br>

      </div>
    </div>
    <div class="parallax"><img src="background1.jpg" alt="Unsplashed background img 1"></div>
  </div>


  <div class="container">
    <div class="section">

      <!--   Icon Section   -->
      <div class="row">
        <div class="col s12 m4">
          <div class="icon-block">
            <h2 class="center brown-text"><i class="material-icons">group</i></h2>
            <h5 class="center">Help your Friends</h5>

            <p class="light">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam scelerisque id nunc nec volutpat. Etiam pellentesque tristique arcu, non consequat magna fermentum ac. </p>
          </div>
        </div>

        <div class="col s12 m4">
          <div class="icon-block">
            <h2 class="center brown-text"><i class="material-icons">settings</i></h2>
            <h5 class="center">Help a Stranger</h5>

            <p class="light">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam scelerisque id nunc nec volutpat. Etiam pellentesque tristique arcu, non consequat magna fermentum ac. </p>
          </div>
        </div>

        <div class="col s12 m4">
          <div class="icon-block">
            <h2 class="center brown-text"><i class="material-icons">flash_on</i></h2>
            <h5 class="center">Expand your Portfolio</h5>

            <p class="light">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam scelerisque id nunc nec volutpat. Etiam pellentesque tristique arcu, non consequat magna fermentum ac. </p>
          </div>
        </div>
      </div>

    </div>
  </div>


  <div class="parallax-container valign-wrapper">
    <div class="section no-pad-bot">
      <div class="container">
        <div class="row center">
          <h5 class="header col s12 light">Scuti's investment platform lets you make investments in friends and strangers, which helps everyone.</h5>
        </div>
      </div>
    </div>
    <div class="parallax"><img src="background2.jpg" alt="Unsplashed background img 2"></div>
  </div>

  <div class="container">
    <div class="section" >
      <div class="row">
        <div class="col s12 center">
          <h3><i class="mdi-content-send brown-text"></i></h3>
          <h4>Borrower Search</h4>
          <h3>Search for people to invest in.</h3>
            <div class='search-box-container'>
              <input type='text' class='search-box' placeholder='Search' autofocus ng-model='query' ng-change='delayedSearch(0)'>
            </div>
        </div>
      </div>

    </div>
    <main class='results-container' ng-cloak>
  <section class='results-info'>
    <p id='response-details'>{{(hits | number) || 0}} {{resultsLabel || 'results'}} ({{(timeTook || 0)}}ms)</p>
    <p ng-show='paginationEnabled()' id='pagination-details'>Showing {{paginationLowerBound}} - {{paginationUpperBound}}</p>
  </section>
  <section class='results'>
    <p class='no-results' ng-show='!results.length && !loading'>No Results</p>
  <div class="row">
    <div class="col s4 result" ng-repeat='result in results track by $id(result)'>
     <div class="card hoverable">
      <div class="card-image waves-effect waves-block waves-light">
        <img class="activator" src="http://lorempixel.com/400/300/nature/6">
      </div>
  <div class="card-content">
    <span class="card-title activator grey-text text-darken-4">{{result.first_name}}&nbsp;<strong>{{result.last_name}}</strong><i class="material-icons right"></i></span>
    <p>{{result.purpose}}</p>
  </div>
    <div class="card-reveal">
      <span class="card-title grey-text text-darken-4">{{result.first_name}}&nbsp;<strong>{{result.last_name}}<i class="material-icons right">close</i></span>
      <br>
      <p><strong>Desired Amount:</strong>&nbsp;<em>${{result.desired_loan}}</em> </p>
        <p><strong>Loan Term:</strong>&nbsp;<em>{{result.term}} months</em> </p>
        <p><strong>Credit Rating:</strong>&nbsp;<em>{{result.cr}}</em> </p>
        <p><strong>Desired Interest:</strong>&nbsp;<em>{{result.desired_interest}}%</em> </p>   
        <p><strong>Loan Progress:</strong> 
        <div class="progress">
      <div class="determinate" style="width: 70%"></div>
  </div>
        <button class="btn waves-effect waves-light" type="submit" name="action">Invest
    <i class="material-icons right">send</i>
  </button>
    </div>
    </div>      
  </div>

  </div>
  </section>
  <section class='pagination-controls'>
    <button ng-click='search(-1)' ng-show='paginationEnabled() && offset !== 0' class='pager'>Previous</button><button ng-click='search(1)' ng-show='paginationEnabled()' class='pager'>Next</button>
  </section>
</main>

  </div>


  <div class="parallax-container valign-wrapper">
    <div class="section no-pad-bot">
      <div class="container">
        <div class="row center">
          <h5 class="header col s12 light">A modern responsive front-end framework based on Material Design</h5>
        </div>
      </div>
    </div>
    <div class="parallax"><img src="background3.jpg" alt="Unsplashed background img 3"></div>
  </div>

  <footer class="page-footer teal">
    <div class="container">
      <div class="row">
        <div class="col l6 s12">
          <h5 class="white-text">Company Bio</h5>
          <p class="grey-text text-lighten-4">We are a team of college students working on this project like it's our full time job. Any amount would help support and continue development on this project and is greatly appreciated.</p>


        </div>
        <div class="col l3 s12">
          <h5 class="white-text">Settings</h5>
          <ul>
            <li><a class="white-text" href="#!">Link 1</a></li>
            <li><a class="white-text" href="#!">Link 2</a></li>
            <li><a class="white-text" href="#!">Link 3</a></li>
            <li><a class="white-text" href="#!">Link 4</a></li>
          </ul>
        </div>
        <div class="col l3 s12">
          <h5 class="white-text">Connect</h5>
          <ul>
            <li><a class="white-text" href="#!">Link 1</a></li>
            <li><a class="white-text" href="#!">Link 2</a></li>
            <li><a class="white-text" href="#!">Link 3</a></li>
            <li><a class="white-text" href="#!">Link 4</a></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="footer-copyright">
      <div class="container">
      Made by <a class="brown-text text-lighten-3" href="http://materializecss.com">Materialize</a>
      </div>
    </div>
  </footer>


  <!--  Scripts-->
  <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
  <script src="js/materialize.js"></script>
  <script src="js/init.js"></script>
<script src='bower_components/angular-animate/angular-animate.min.js' type='text/javascript'></script>
<script src='bower_components/elasticsearch/elasticsearch.angular.min.js' type='text/javascript'></script>
<script src='js/config.js' type='text/javascript'></script>
<script src='js/app.js' type='text/javascript'></script>
<script src='js/controllers.js' type='text/javascript'></script>
<script src='js/services.js' type='text/javascript'></script>
  </body>
</html>
